.containter{
	width:50%;
	margin-left: 450px;
	max-width:525px;
	min-height:600px;
	position:relative;
	background:url(https://img00.deviantart.net/82cc/i/2017/147/6/4/grand_magical_library_by_giaonp-dbalk6j.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.formDiv {
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,95,.9);
	margin-top: 10px ;
	margin-bottom: 10px;
}


.title {
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: 20px;
	color: rgb(255, 255, 255,0.5);
	margin-top: 0px;

}

.group{
	margin-bottom:15px;
}

.group .input, .group .button{
	width:100%;
	color:#fff;
	display:block;
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.2);
}

.group .button{
	background:#1161ee;
}

 ::placeholder {
	font-size: 15px;
	font-family:sans-serif;
	color:rgb(255, 255, 255,0.4)
}
.Category {
	background-color: rgba(40,57,95,.9);
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}
