body {
  margin: 0;
  border: 0 ;
  padding:0;
  background:#E0E0E0
/* linear-gradient(to bottom left, #33ccff 57%, #ff99cc 98%); */
}


.dropdown-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin-left: -178px;
    margin-top: 15px;
}
.hide-dropdown-content {
    display: none;
}
.dropdown:active .dropdown-content {
display: block;
}

  .header {
  height: 18px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   overflow: hidden;
   color: white;
   background: #0A1226;
     box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
     font-family: "Roboto", "Helvetica", "Arial", sans-serif;
     font-weight: 300;
     line-height: 1.5em;
   padding: 20px 10px;
}
.header a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;

}

.logo {
  position: flex;
  width: 90px;
  height: 50px;
  float: left;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  display: flex;
  float: right;
  padding:0 20px;
  margin: 25px
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.admin {
  width: 100%;
  height: 80px;
}

.adminName {
  float: left;
  line-height: 50px;
  color: white;
  margin-left: 60px;
  font-size: 20px;
}
.line {
  width: 100%;
  height: .5px;
  background: white;
  border: 1px solid outset;
}


.sidebar {
  height: 620px;
  background-color:#0A1226;
  float: left;
    width: 260px;
    z-index: 4;
    position: relative;
    overflow: auto;
    overflow-scrolling: touch;
}


  ul.sidebar-menu {
  margin-top: 20px;
list-style: none;
padding-top: 0;
padding-left: 0;
margin-bottom: 0;
padding-bottom: 0;
}

.sidebar-menu li a i {
	margin-right: 20px;
  color: #fff;
}
.sidebar-menu li a  {
	background-color:#0A1226;
	padding: 20px 25px;
	display: block;
	text-decoration: none;
	color: #fff;
}

.sidebar-menu li a:hover  {
	background-color: #F44336;
	padding: 20px 25px;
	display: block;
	text-decoration: none;
	color: #fff;
}
