.main{
  margin-left: 201px;
  padding: 20px 20px;

}


input[type=text], input[type=number] ,input[type=date],.Book--style{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
