
<div class="reserveBook main" style="width:80%">

  <h1>{{title}}</h1>
    <div id="output">

    </div>
  <div class="field">
 <label for="" class="col-25">Book Name</label>
  <input class="book--style col-75" list="bookName" name="bookName" placeholder="Enter Book Name" required>
    <datalist id="bookName">
    </datalist>
        <label class="bookStatus"></label>
      </div>
  <div class="field">
    <label for="" class="col-25">Mobile Number</label>
    <input class="mobile col-75" type="text" name="mobileNumber" placeholder="Enter Mobile Number" required>
    <label class="mobileStatus"></label>
  </div>
  <div class="field">
    <label for="" class="col-25">Full Name</label>
    <input class="col-75" type="text" name="fullName" value="" disabled>
  </div>
  <div class="field">
    <label for="" class="col-25">Email</label>
    <input class="col-75" type="text" name="email" value="" disabled>
  </div>
  <div class="field">
    <label for="" class="col-25"># of book copy</label>
    <input class="col-75" type="number" name="bookCopy" value="" disabled>
  </div>
  <div class="field">
    <label for="" class="col-25"># of copy reserved</label>
    <input  class="col-75" type="number" name="reservedCopy" value="" disabled>
  </div>
  <div class="field">
    <label for="" class="col-25"># of copy available</label>
    <input  class="col-75" type="number" name="availableCopy" value="" disabled>
  </div>
  <div class="field">
    <label for="" class="col-25">Lending Date</label>
    <input class="col-75" type="date" name="lendingDate" value="">
  </div>
  <div class="field">
    <label for="" class="col-25">End Date</label>
    <input class="col-75" type="date" name="endDate" value="">
  </div>
  <div class="field">
    <label class="notification col-25"></label>
  </div>
   <label for="" class="col-25"></label>
  <button type="submit" name="button" disabled>Lend</button>

</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
