{{#each result}}
<div>hiiiiiiiiiiiiiiiiii{{this.full_name}}</div> 
<div>{{this.book_name}}</div>

<div>{{this.start_date}}</div>

<div>{{this.end_date}}</div>

{{/each}} 

{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/af.js">,</script>
<script>
 
   console.log("d",moment())
</script> --}}

