<section>
  <div class="header">
    <a href="/"><img class="logo" src="/img/logo.png" alt=""></a>

    <div class="header-right">

      <a onclick="myFunction()" class="dropdown fas fa-bell right" style="color:#F44336">

        <i id='dropdown-content' class = 'hide-dropdown-content'>
  </i>

    </a>

      <a href="#" class="right">Logout</a>


    </div>

  </div>
</section>

<section>

  <div class="sidebar">
    <div class="admin">
      <img class="adminImg" src="" alt="">
      <p class='adminName'>Welcome Sara</p>
    </div>
    <div class="line">
    </div>
    <ul class="sidebar-menu">
      <div class="icon-bar">
        <li class='li_class'> <a href="/dashboard"><i class="fa fa-home"></i>Dashboard</a> </li>
        <li class='li_class'> <a href="/addnewbook"><i class="fa fa-plus"></i>Add new book</a> </li>
        <li class='li_class'> <a href="/lendbook"><i class="fa fa-address-book"></i>lend abook</a> </li>
        <li class='li_class'> <a href="/outbook"><i class="fas fa-user-clock"></i>Out books</a> </li>
        <li class='li_class'> <a href="/GSG_Library"><i class="fa fa-book"></i>GSG Library</a> </li>
        <li class='li_class'> <a href="/waitinglist"><i class="fas fa-user-clock"></i>Waiting list</a> </li>
      </div>

    </ul>
  </div>
</section>
