<head>
{{>head}}
</head>
<body>

  <main>
    {{>fixed}}
    {{{body}}}
  </main>

<!-- <script src="/js/socketio.js"></script> -->
<script src="/js/index.js"></script>
<script src="/js/{{jsFile}}.js"></script>
<!-- <script src="/js/notification.js"></script> -->

</body>
