<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
{{>head}}
</head>
<body>
{{>header}}
  <main>
    {{>fixed}}
    {{{body}}}
  </main>
  <script src="/js/index.js"></script>
  <script src="/js/dom.js"></script>
</body>
</html
